<div class='section cost'>
	<h2 class='header'>How much does it cost?</h2>
	<div class='info'>TEXT</div>
</div>
<div class='section payment'>
	<h2 class='header'>How do I get paid?</h2>
	<div class='info'>TEXT</div>
</div>
<div class='section fulfill'>
	<h2 class='header'>How do I fulfill the orders?</h2>
<div class='info'>TEXT</div>
</div>
<div class='section why'>
	<h2 class='header'>Why choose wedding as art as my gift registry?</h2>
	<div class='info'>Wedding as art provides a platform...</div>
</div>

