<h2>Wedding As Art</h2>

<% if current_user %>
	Welcome back <%= current_user.email %>
	<%= link_to 'Edit products offered', product_list_path(current_user.product_list) %>
<% else %>
	<%= link_to 'Create Photographer Account', new_photographer_path %>
<% end %>
